In [1]:
import pandas as pd 

data = pd.read_csv('/Users/jordijordanagarcia/Desktop/Ironhack/WEEK2/Project-Week-2-Barcelona/datasets/3.-Population/immigrants-by-nationality.csv', sep=';')

       Year  District Code District Name  Neighborhood Code  \
0      2017              1  Ciutat Vella                  1
1      2017              1  Ciutat Vella                  2
2      2017              1  Ciutat Vella                  3
3      2017              1  Ciutat Vella                  4
4      2017              2      Eixample                  5
...     ...            ...           ...                ...
35219  2015             10    Sant Martí                 70
35220  2015             10    Sant Martí                 71
35221  2015             10    Sant Martí                 72
35222  2015             10    Sant Martí                 73
35223  2015             99     No consta                 99

                           Neighborhood Name     Nationality  Number
0                                   el Raval           Spain    1109
1                             el Barri Gòtic           Spain     482
2                             la Barceloneta           Spain     414
3      Sant Pere, Santa Caterina i la Ribera           Spain     537
4                              el Fort Pienc           Spain     663
...                                      ...             ...     ...
35219                  el Besòs i el Maresme  No information       0
35220                Provençals del Poblenou  No information       0
35221               Sant Martí de Provençals  No information       0
35222                    la Verneda i la Pau  No information       1
35223                              No consta  No information       0

[35224 rows x 7 columns]

In [2]:
dataset = data[['Year', 'District Name', 'Neighborhood Name','Nationality', 'Number']]

       Year District Name                      Neighborhood Name  \
0      2017  Ciutat Vella                               el Raval
1      2017  Ciutat Vella                         el Barri Gòtic
2      2017  Ciutat Vella                         la Barceloneta
3      2017  Ciutat Vella  Sant Pere, Santa Caterina i la Ribera
4      2017      Eixample                          el Fort Pienc
...     ...           ...                                    ...
35219  2015    Sant Martí                  el Besòs i el Maresme
35220  2015    Sant Martí                Provençals del Poblenou
35221  2015    Sant Martí               Sant Martí de Provençals
35222  2015    Sant Martí                    la Verneda i la Pau
35223  2015     No consta                              No consta

          Nationality  Number
0               Spain    1109
1               Spain     482
2               Spain     414
3               Spain     537
4               Spain     663
...               ...     ...
35219  No information       0
35220  No information       0
35221  No information       0
35222  No information       1
35223  No information       0

[35224 rows x 5 columns]

In [3]:
fdataset = dataset.loc[(dataset['Nationality'] != 'Spain') & (dataset['Nationality'] !='No information')]

In [6]:
data2015 = fdataset.groupby(['Year', 'Neighborhood Name', 'Nationality']).max().loc[2015]

In [7]:
data2015.sort_values('Number', ascending=False).head(5)

                                    District Name  Number
Neighborhood Name     Nationality
el Raval              Pakistan       Ciutat Vella     938
el Besòs i el Maresme Pakistan         Sant Martí     461
el Raval              Bangladesh     Ciutat Vella     414
                      Italy          Ciutat Vella     350
el Poble Sec          Pakistan     Sants-Montjuïc     310

In [8]:
data2016 = fdataset.groupby(['Year', 'Neighborhood Name', 'Nationality']).max().loc[2016]

In [9]:
data2016.sort_values('Number', ascending=False).head(5)

                                  District Name  Number
Neighborhood Name     Nationality
el Raval              Pakistan     Ciutat Vella     721
                      Bangladesh   Ciutat Vella     463
el Besòs i el Maresme Pakistan       Sant Martí     361
el Raval              Italy        Ciutat Vella     332
la Vila de Gràcia     Italy              Gràcia     278

In [10]:
data2017 = fdataset.groupby(['Year', 'Neighborhood Name', 'Nationality']).max().loc[2017]

In [11]:
data2017.sort_values('Number', ascending=False).head(5)

                                                  District Name  Number
Neighborhood Name                     Nationality
el Raval                              Pakistan     Ciutat Vella     605
                                      Bangladesh   Ciutat Vella     470
el Besòs i el Maresme                 Pakistan       Sant Martí     411
el Raval                              Italy        Ciutat Vella     360
Sant Pere, Santa Caterina i la Ribera Italy        Ciutat Vella     355

In [12]:
NoCV2015 = data2015.loc[(data2015['District Name'] != 'Ciutat Vella')]

In [13]:
NoCV2015.sort_values('Number', ascending=False).head(5)

                                     District Name  Number
Neighborhood Name      Nationality
el Besòs i el Maresme  Pakistan         Sant Martí     461
el Poble Sec           Pakistan     Sants-Montjuïc     310
la Vila de Gràcia      Italy                Gràcia     285
la Sagrada Família     Italy              Eixample     254
la Dreta de l'Eixample Italy              Eixample     242

In [14]:
NoCV2016 = data2016.loc[(data2016['District Name'] != 'Ciutat Vella')]
NoCV2016.sort_values('Number', ascending=False).head(5)

                                             District Name  Number
Neighborhood Name              Nationality
el Besòs i el Maresme          Pakistan         Sant Martí     361
la Vila de Gràcia              Italy                Gràcia     278
el Poble Sec                   Pakistan     Sants-Montjuïc     260
la Nova Esquerra de l'Eixample Italy              Eixample     245
la Sagrada Família             Italy              Eixample     241

In [15]:
NoCV2017 = data2017.loc[(data2017['District Name'] != 'Ciutat Vella')]
NoCV2017.sort_values('Number', ascending=False).head(5)

                                           District Name  Number
Neighborhood Name              Nationality
el Besòs i el Maresme          Pakistan       Sant Martí     411
la Vila de Gràcia              Italy              Gràcia     326
la Nova Esquerra de l'Eixample Italy            Eixample     314
la Sagrada Família             Italy            Eixample     295
la Dreta de l'Eixample         Italy            Eixample     284