In [13]:
import pandas as pd
import numpy as np

In [14]:
atur_per_sexe = pd.read_csv("2020_Atur_per_sexe.csv")

In [15]:
atur_per_sexe

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,1724
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,491
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,489
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,673
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,542
...,...,...,...,...,...,...,...,...,...
3251,2020,11,10,Sant Martí,70,el Besòs i el Maresme,Dones,Demanda No Aturats,1133
3252,2020,11,10,Sant Martí,71,Provençals del Poblenou,Dones,Demanda No Aturats,919
3253,2020,11,10,Sant Martí,72,Sant Martí de Provençals,Dones,Demanda No Aturats,1293
3254,2020,11,10,Sant Martí,73,la Verneda i la Pau,Dones,Demanda No Aturats,1458
3255,2020,11,99,No consta,99,No consta,Dones,Demanda No Aturats,220

In [16]:
atur_per_sexe["Nombre"].value_counts()

11      16
10      11
63      11
60      11
77      10
        ..
1492     1
1490     1
1484     1
1464     1
2043     1
Name: Nombre, Length: 1368, dtype: int64

In [17]:
prova1 = pd.atur_per_sexe["Nom_Barri","Demanda_ocupacio"]

prova1

AttributeError: module 'pandas' has no attribute 'atur_per_sexe'

In [18]:
atur_per_edat = pd.read_csv("2020_Pes_del_atur_registrat_sobre_poblacio_16_64_anys.csv")

In [19]:
atur_per_edat

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio_16_64_anys,Pes_atur
0,2020,1,1,Ciutat Vella,1,el Raval,36405,8.4
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,15462,5.9
2,2020,1,1,Ciutat Vella,3,la Barceloneta,11337,8.8
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",17710,7.8
4,2020,1,2,Eixample,5,el Fort Pienc,21844,5.4
...,...,...,...,...,...,...,...,...
798,2020,11,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,8858,9.3
799,2020,11,10,Sant Martí,70,el Besòs i el Maresme,16577,11.3
800,2020,11,10,Sant Martí,71,Provençals del Poblenou,14217,8.5
801,2020,11,10,Sant Martí,72,Sant Martí de Provençals,16219,10.0
802,2020,11,10,Sant Martí,73,la Verneda i la Pau,17577,10.4

In [27]:
col_names = ["Month","Neighorbood_Name","Working_Population","Unemployment_Rate"]

In [28]:
prova1.columns = (col_names)

prova1

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
0,1,el Raval,36405,8.4
1,1,el Barri Gòtic,15462,5.9
2,1,la Barceloneta,11337,8.8
3,1,"Sant Pere, Santa Caterina i la Ribera",17710,7.8
4,1,el Fort Pienc,21844,5.4
...,...,...,...,...
798,11,Diagonal Mar i el Front Marítim del Poblenou,8858,9.3
799,11,el Besòs i el Maresme,16577,11.3
800,11,Provençals del Poblenou,14217,8.5
801,11,Sant Martí de Provençals,16219,10.0
802,11,la Verneda i la Pau,17577,10.4

In [25]:


prova1 = atur_per_edat[["Mes","Nom_Barri","Poblacio_16_64_anys","Pes_atur"]]

prova1

,Mes,Nom_Barri,Poblacio_16_64_anys,Pes_atur
0,1,el Raval,36405,8.4
1,1,el Barri Gòtic,15462,5.9
2,1,la Barceloneta,11337,8.8
3,1,"Sant Pere, Santa Caterina i la Ribera",17710,7.8
4,1,el Fort Pienc,21844,5.4
...,...,...,...,...
798,11,Diagonal Mar i el Front Marítim del Poblenou,8858,9.3
799,11,el Besòs i el Maresme,16577,11.3
800,11,Provençals del Poblenou,14217,8.5
801,11,Sant Martí de Provençals,16219,10.0
802,11,la Verneda i la Pau,17577,10.4

In [33]:
January = prova1[prova1.Month==1]

January

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
0,1,el Raval,36405,8.4
1,1,el Barri Gòtic,15462,5.9
2,1,la Barceloneta,11337,8.8
3,1,"Sant Pere, Santa Caterina i la Ribera",17710,7.8
4,1,el Fort Pienc,21844,5.4
...,...,...,...,...
68,1,Diagonal Mar i el Front Marítim del Poblenou,8858,7.1
69,1,el Besòs i el Maresme,16577,8.7
70,1,Provençals del Poblenou,14217,6.7
71,1,Sant Martí de Provençals,16219,8.1
72,1,la Verneda i la Pau,17577,8.4

In [30]:
January.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
54,1,Ciutat Meridiana,7070,13.0
52,1,la Trinitat Nova,5082,12.5
56,1,la Trinitat Vella,6917,12.3
55,1,Vallbona,893,11.9
11,1,la Marina del Prat Vermell,816,11.7
...,...,...,...,...
25,1,Sant Gervasi - Galvany,29773,3.5
41,1,la Clota,479,3.3
21,1,"Vallvidrera, el Tibidabo i les Planes",3121,2.9
22,1,Sarrià,14983,2.9
20,1,Pedralbes,7025,2.8

In [34]:
Febrer = prova1[prova1.Month==2]

Febrer

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
73,2,el Raval,36405,8.6
74,2,el Barri Gòtic,15462,6.1
75,2,la Barceloneta,11337,8.9
76,2,"Sant Pere, Santa Caterina i la Ribera",17710,7.9
77,2,el Fort Pienc,21844,5.4
...,...,...,...,...
141,2,Diagonal Mar i el Front Marítim del Poblenou,8858,7.3
142,2,el Besòs i el Maresme,16577,8.8
143,2,Provençals del Poblenou,14217,6.8
144,2,Sant Martí de Provençals,16219,8.2
145,2,la Verneda i la Pau,17577,8.6

In [35]:
Març = prova1[prova1.Month==3]

Març

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
146,3,el Raval,36405,9.3
147,3,el Barri Gòtic,15462,6.6
148,3,la Barceloneta,11337,9.6
149,3,"Sant Pere, Santa Caterina i la Ribera",17710,8.5
150,3,el Fort Pienc,21844,5.9
...,...,...,...,...
214,3,Diagonal Mar i el Front Marítim del Poblenou,8858,7.7
215,3,el Besòs i el Maresme,16577,9.4
216,3,Provençals del Poblenou,14217,7.3
217,3,Sant Martí de Provençals,16219,8.9
218,3,la Verneda i la Pau,17577,9.3

In [36]:
Abril = prova1[prova1.Month==4]

Abril

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
219,4,el Raval,36405,11.2
220,4,el Barri Gòtic,15462,7.5
221,4,la Barceloneta,11337,10.7
222,4,"Sant Pere, Santa Caterina i la Ribera",17710,9.4
223,4,el Fort Pienc,21844,6.7
...,...,...,...,...
287,4,Diagonal Mar i el Front Marítim del Poblenou,8858,8.6
288,4,el Besòs i el Maresme,16577,10.5
289,4,Provençals del Poblenou,14217,8.0
290,4,Sant Martí de Provençals,16219,9.7
291,4,la Verneda i la Pau,17577,10.1

In [37]:
Maig = prova1[prova1.Month==5]

Maig

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
292,5,el Raval,36405,11.7
293,5,el Barri Gòtic,15462,8.1
294,5,la Barceloneta,11337,11.5
295,5,"Sant Pere, Santa Caterina i la Ribera",17710,10.2
296,5,el Fort Pienc,21844,7.2
...,...,...,...,...
360,5,Diagonal Mar i el Front Marítim del Poblenou,8858,9.0
361,5,el Besòs i el Maresme,16577,11.0
362,5,Provençals del Poblenou,14217,8.3
363,5,Sant Martí de Provençals,16219,10.0
364,5,la Verneda i la Pau,17577,10.4

In [38]:
Juny = prova1[prova1.Month==6]

Juny

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
365,6,el Raval,36405,12.3
366,6,el Barri Gòtic,15462,8.2
367,6,la Barceloneta,11337,11.8
368,6,"Sant Pere, Santa Caterina i la Ribera",17710,10.4
369,6,el Fort Pienc,21844,7.4
...,...,...,...,...
433,6,Diagonal Mar i el Front Marítim del Poblenou,8858,9.1
434,6,el Besòs i el Maresme,16577,11.1
435,6,Provençals del Poblenou,14217,8.5
436,6,Sant Martí de Provençals,16219,10.2
437,6,la Verneda i la Pau,17577,10.6

In [39]:
Juliol = prova1[prova1.Month==7]

Juliol

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
438,7,el Raval,36405,12.2
439,7,el Barri Gòtic,15462,8.1
440,7,la Barceloneta,11337,11.5
441,7,"Sant Pere, Santa Caterina i la Ribera",17710,10.1
442,7,el Fort Pienc,21844,7.2
...,...,...,...,...
506,7,Diagonal Mar i el Front Marítim del Poblenou,8858,9.0
507,7,el Besòs i el Maresme,16577,11.0
508,7,Provençals del Poblenou,14217,8.4
509,7,Sant Martí de Provençals,16219,10.0
510,7,la Verneda i la Pau,17577,10.5

In [40]:
Agost = prova1[prova1.Month==8]

Agost

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
511,8,el Raval,36405,12.5
512,8,el Barri Gòtic,15462,8.4
513,8,la Barceloneta,11337,11.9
514,8,"Sant Pere, Santa Caterina i la Ribera",17710,10.5
515,8,el Fort Pienc,21844,7.4
...,...,...,...,...
579,8,Diagonal Mar i el Front Marítim del Poblenou,8858,9.1
580,8,el Besòs i el Maresme,16577,11.1
581,8,Provençals del Poblenou,14217,8.5
582,8,Sant Martí de Provençals,16219,10.3
583,8,la Verneda i la Pau,17577,10.7

In [41]:
Setembre = prova1[prova1.Month==9]

Setembre

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
584,9,el Raval,36405,12.7
585,9,el Barri Gòtic,15462,8.2
586,9,la Barceloneta,11337,11.7
587,9,"Sant Pere, Santa Caterina i la Ribera",17710,10.4
588,9,el Fort Pienc,21844,7.2
...,...,...,...,...
652,9,Diagonal Mar i el Front Marítim del Poblenou,8858,9.0
653,9,el Besòs i el Maresme,16577,10.9
654,9,Provençals del Poblenou,14217,8.4
655,9,Sant Martí de Provençals,16219,10.0
656,9,la Verneda i la Pau,17577,10.5

In [42]:
Octubre = prova1[prova1.Month==10]

Octubre

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
657,10,el Raval,36405,13.3
658,10,el Barri Gòtic,15462,8.7
659,10,la Barceloneta,11337,12.0
660,10,"Sant Pere, Santa Caterina i la Ribera",17710,10.6
661,10,el Fort Pienc,21844,7.4
...,...,...,...,...
725,10,Diagonal Mar i el Front Marítim del Poblenou,8858,9.1
726,10,el Besòs i el Maresme,16577,11.1
727,10,Provençals del Poblenou,14217,8.4
728,10,Sant Martí de Provençals,16219,10.1
729,10,la Verneda i la Pau,17577,10.5

In [43]:
Novembre = prova1[prova1.Month==11]

Novembre

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
730,11,el Raval,36405,13.5
731,11,el Barri Gòtic,15462,8.9
732,11,la Barceloneta,11337,12.0
733,11,"Sant Pere, Santa Caterina i la Ribera",17710,10.6
734,11,el Fort Pienc,21844,7.4
...,...,...,...,...
798,11,Diagonal Mar i el Front Marítim del Poblenou,8858,9.3
799,11,el Besòs i el Maresme,16577,11.3
800,11,Provençals del Poblenou,14217,8.5
801,11,Sant Martí de Provençals,16219,10.0
802,11,la Verneda i la Pau,17577,10.4

In [44]:
Novembre["Unemployment_Rate"].max()

16.5

In [ ]:
Inversio per creixement del valor del terra en cada barri si es vol mudar o invertir

comprar una casa









Indicant que hauria de fer una persona segons la estadística, dos opcions tirar amunt o avall


trobar feina, nivell atur, historia segons les estadistiques. tant per cent 






conspiracions, com la pujada del paro esta lligada a la creencia de les conspiracions, mes inteligencia menys creencia
conspiracions

In [45]:
prova4 = pd.read_csv("2020_Pes_del_atur_registrat_sobre_poblacio_16_64_anys_2.csv")

In [46]:
prova4

,Pes_atur,Nom_Barri,Codi_Barri,Poblacio_16_64_anys,Mes
0,8.4,el Raval,1,36405,1
1,5.9,el Barri Gòtic,2,15462,1
2,8.8,la Barceloneta,3,11337,1
3,7.8,"Sant Pere, Santa Caterina i la Ribera",4,17710,1
4,8.6,el Raval,1,36405,2
...,...,...,...,...,...
798,3.8,Sarrià,23,14983,11
799,4.6,les Tres Torres,24,10066,11
800,4.6,Sant Gervasi - la Bonanova,25,15861,11
801,4.6,Sant Gervasi - Galvany,26,29773,11
802,6.5,el Putxet i el Farró,27,19029,11

In [47]:
January.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
54,1,Ciutat Meridiana,7070,13.0
52,1,la Trinitat Nova,5082,12.5
56,1,la Trinitat Vella,6917,12.3
55,1,Vallbona,893,11.9
11,1,la Marina del Prat Vermell,816,11.7
...,...,...,...,...
25,1,Sant Gervasi - Galvany,29773,3.5
41,1,la Clota,479,3.3
21,1,"Vallvidrera, el Tibidabo i les Planes",3121,2.9
22,1,Sarrià,14983,2.9
20,1,Pedralbes,7025,2.8

In [48]:
Febrer.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
127,2,Ciutat Meridiana,7070,13.0
125,2,la Trinitat Nova,5082,12.5
129,2,la Trinitat Vella,6917,12.3
128,2,Vallbona,893,12.0
84,2,la Marina del Prat Vermell,816,12.0
...,...,...,...,...
114,2,la Clota,479,3.5
98,2,Sant Gervasi - Galvany,29773,3.5
95,2,Sarrià,14983,3.1
94,2,"Vallvidrera, el Tibidabo i les Planes",3121,3.0
93,2,Pedralbes,7025,2.9

In [49]:
Març.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
200,3,Ciutat Meridiana,7070,13.6
198,3,la Trinitat Nova,5082,13.1
202,3,la Trinitat Vella,6917,12.8
201,3,Vallbona,893,12.5
157,3,la Marina del Prat Vermell,816,12.4
...,...,...,...,...
171,3,Sant Gervasi - Galvany,29773,3.6
187,3,la Clota,479,3.6
168,3,Sarrià,14983,3.2
167,3,"Vallvidrera, el Tibidabo i les Planes",3121,3.1
166,3,Pedralbes,7025,3.0

In [50]:
Abril.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
273,4,Ciutat Meridiana,7070,14.9
271,4,la Trinitat Nova,5082,14.4
275,4,la Trinitat Vella,6917,14.1
230,4,la Marina del Prat Vermell,816,13.9
274,4,Vallbona,893,13.7
...,...,...,...,...
244,4,Sant Gervasi - Galvany,29773,4.2
260,4,la Clota,479,4.2
240,4,"Vallvidrera, el Tibidabo i les Planes",3121,3.5
241,4,Sarrià,14983,3.5
239,4,Pedralbes,7025,3.3

In [51]:
Maig.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
346,5,Ciutat Meridiana,7070,15.8
344,5,la Trinitat Nova,5082,15.2
348,5,la Trinitat Vella,6917,14.9
303,5,la Marina del Prat Vermell,816,14.8
347,5,Vallbona,893,14.5
...,...,...,...,...
317,5,Sant Gervasi - Galvany,29773,4.4
333,5,la Clota,479,4.4
313,5,"Vallvidrera, el Tibidabo i les Planes",3121,3.7
314,5,Sarrià,14983,3.7
312,5,Pedralbes,7025,3.5

In [52]:
Juny.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
419,6,Ciutat Meridiana,7070,16.4
417,6,la Trinitat Nova,5082,15.8
421,6,la Trinitat Vella,6917,15.6
376,6,la Marina del Prat Vermell,816,15.5
420,6,Vallbona,893,15.1
...,...,...,...,...
390,6,Sant Gervasi - Galvany,29773,4.5
406,6,la Clota,479,4.4
386,6,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
387,6,Sarrià,14983,3.7
385,6,Pedralbes,7025,3.5

In [53]:
Juliol.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
492,7,Ciutat Meridiana,7070,16.0
490,7,la Trinitat Nova,5082,15.4
494,7,la Trinitat Vella,6917,15.2
449,7,la Marina del Prat Vermell,816,15.2
493,7,Vallbona,893,14.7
...,...,...,...,...
463,7,Sant Gervasi - Galvany,29773,4.5
479,7,la Clota,479,4.4
459,7,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
460,7,Sarrià,14983,3.8
458,7,Pedralbes,7025,3.6

In [54]:
Agost.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
565,8,Ciutat Meridiana,7070,16.4
563,8,la Trinitat Nova,5082,15.8
567,8,la Trinitat Vella,6917,15.6
566,8,Vallbona,893,15.1
522,8,la Marina del Prat Vermell,816,15.0
...,...,...,...,...
536,8,Sant Gervasi - Galvany,29773,4.6
552,8,la Clota,479,4.5
533,8,Sarrià,14983,3.9
532,8,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
531,8,Pedralbes,7025,3.7

In [55]:
Setembre.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
638,9,Ciutat Meridiana,7070,16.1
636,9,la Trinitat Nova,5082,15.5
640,9,la Trinitat Vella,6917,15.3
639,9,Vallbona,893,14.8
595,9,la Marina del Prat Vermell,816,14.3
...,...,...,...,...
609,9,Sant Gervasi - Galvany,29773,4.5
625,9,la Clota,479,4.5
606,9,Sarrià,14983,3.8
605,9,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
604,9,Pedralbes,7025,3.6

In [56]:
Octubre.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
711,10,Ciutat Meridiana,7070,16.6
709,10,la Trinitat Nova,5082,16.0
713,10,la Trinitat Vella,6917,15.7
668,10,la Marina del Prat Vermell,816,15.7
712,10,Vallbona,893,15.3
...,...,...,...,...
681,10,Sant Gervasi - la Bonanova,15861,4.5
698,10,la Clota,479,4.4
679,10,Sarrià,14983,3.8
678,10,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
677,10,Pedralbes,7025,3.5

In [57]:
Novembre.sort_values(by="Unemployment_Rate",ascending = False)

,Month,Neighorbood_Name,Working_Population,Unemployment_Rate
784,11,Ciutat Meridiana,7070,16.5
782,11,la Trinitat Nova,5082,15.9
786,11,la Trinitat Vella,6917,15.6
741,11,la Marina del Prat Vermell,816,15.5
785,11,Vallbona,893,15.2
...,...,...,...,...
754,11,Sant Gervasi - la Bonanova,15861,4.6
771,11,la Clota,479,4.5
752,11,Sarrià,14983,3.8
751,11,"Vallvidrera, el Tibidabo i les Planes",3121,3.8
750,11,Pedralbes,7025,3.6