In [2]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
# Importing data

immi = pd.read_csv("../datasets/Data_filtered/immigrants-by-nationality.csv")
immi = immi[["Dist", "Nbh", "Nationality", "Number"]]
immi.columns = ['Dist', 'Nbh', 'Nationality', 'num_immi']
immi_original = immi.copy() 

mort = pd.read_excel("../datasets/Data_filtered/mortality_rate.xlsx")
mort_original = mort.copy() 

rent = pd.read_excel("../datasets/Data_filtered/rental_price.xlsx")
rent_original = rent.copy()

crime = pd.read_excel("../datasets/Data_filtered/crime.xlsx")
crime_original = crime.copy()

#no
bars = pd.read_csv("../datasets/Data_filtered/bars.csv", index_col=0)
bars_original = bars.copy()

#no
children_places = pd.read_csv("../datasets/Data_filtered/children.csv", index_col=0)
children_places_original = children_places.copy()

#tot 1s
cinema = pd.read_csv("../datasets/Data_filtered/cinema.csv", index_col=0)
cinema_original = cinema.copy()

#no
education = pd.read_csv("../datasets/Data_filtered/education.csv", index_col=0)
education_original = education.copy()

#no
education_kids = pd.read_csv("../datasets/Data_filtered/educationkids.csv", index_col=0)
education_kids = education_kids.copy()

#no
hospital = pd.read_csv("../datasets/Data_filtered/hospital.csv", index_col=0)
hospital = hospital.copy()

#no
library = pd.read_csv("../datasets/Data_filtered/library.csv", index_col=0)
library = library.copy()

#no
park = pd.read_csv("../datasets/Data_filtered/park.csv", index_col=0)
park = park.copy()

population = pd.read_csv("../datasets/Data_filtered/population.csv", index_col=0)
population = population.copy()

rental = pd.read_csv("../datasets/Data_filtered/rental.csv", index_col=0)
rental = rental.copy()

#no
sport = pd.read_csv("../datasets/Data_filtered/sport.csv", index_col=0)
sport = sport.copy() 

tenants = pd.read_csv("../datasets/Data_filtered/tenants.csv", index_col=0)
tenants = tenants.copy()

In [4]:
# Grouping immigrants by Nbh and Dist, independent of country of origin

immi_nbh = immi.groupby(["Nbh","Dist"]).num_immi.sum().reset_index()
immi_nbh

immi_nbh.to_csv("../datasets/Data_filtered/immi_nbh.csv")

In [6]:
# Excluding Spain from immi dataset

immi = pd.read_csv("../datasets/Data_filtered/immigrants-by-nationality.csv")
immi = immi[["Dist", "Nbh", "Nationality", "Number"]]
immi.columns = ['Dist', 'Nbh', 'Nationality', 'num_immi']
immi_original = immi.copy() 


immi_foreign = immi[immi["Nationality"]!="Spain"]
immi_foreign.to_csv("../datasets/Data_filtered/immi_foreign.csv")

# Grouping immigrants by Nbh and Dist, independent of country of origin

immi_foreign_nbh = immi_foreign.groupby(["Nbh","Dist"]).num_immi.sum().reset_index()
immi_foreign_nbh
immi_foreign_nbh.to_csv("../datasets/Data_filtered/immi_foreign_nbh.csv")

In [7]:
immi.to_csv("../datasets/Data_filtered/immi.csv")

In [8]:
# Naming Nbh and Dist all the same

rental.columns = ['Nbh', 'rent_price']
tenants.columns = ['Nbh', 'avg_occupation']

In [9]:
# Creating list with all dataframes
# , rental missing --- hi ha moltes files jo el trauria



# Adding datasets that have only Nbh
data_frames1 = [bars, children_places, cinema, education, education_kids, hospital, library, park, sport, population, tenants]
df_merged1 = reduce(lambda left,right: pd.merge(left,right,on=["Nbh"], how='outer'), data_frames1)
df_merged1

,Nbh,Bars,Children_places,Cinemas_Theatres,Schools,Pre-Schools,Hospitals,Libraries_Theatres,Park_Gardens,Sport_Centers,Population,Net_density(hab/ha),avg_occupation
0,Horta,4.0,9.0,3.0,11.0,7.0,3.0,5.0,3.0,2.0,26715.0,422.0,2.5
1,Navas,2.0,3.0,NaN,6.0,3.0,NaN,NaN,NaN,NaN,22129.0,984.0,2.5
2,Pedralbes,1.0,7.0,NaN,8.0,41.0,NaN,10.0,9.0,1.0,12076.0,147.0,2.9
3,Sant Andreu,3.0,22.0,5.0,22.0,17.0,5.0,2.0,5.0,3.0,57183.0,746.0,2.4
4,Sant Antoni,9.0,8.0,4.0,11.0,11.0,1.0,5.0,7.0,1.0,38345.0,928.0,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,les Roquetes,NaN,6.0,NaN,4.0,2.0,1.0,1.0,2.0,NaN,15590.0,856.0,2.7
71,les Tres Torres,NaN,5.0,2.0,2.0,4.0,5.0,1.0,3.0,NaN,16667.0,391.0,3.0
72,la Clota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,610.0,100.0,2.3
73,la Dreta de l'Eixample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44052.0,387.0,2.4
74,el Poble Sec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40228.0,1043.0,2.5

In [10]:
# Adding datasets that have Nbh and Dist

data_frames2 = [immi_nbh, mort, rent]
df_merged2 = reduce(lambda left,right: pd.merge(left,right,on=["Nbh", "Dist"], how='outer'), data_frames2)
df_merged2

,Nbh,Dist,num_immi,mort_rate,rent_price
0,Baró de Viver,Sant Andreu,92.0,1067.6,2.830
1,Can Baró,Horta-Guinardó,473.0,861.0,2.859
2,Can Peguera,Nou Barris,57.0,968.0,2.330
3,Canyelles,Nou Barris,140.0,804.9,2.330
4,Ciutat Meridiana,Nou Barris,838.0,793.9,1.498
...,...,...,...,...,...
71,les Corts,Les Corts,2276.0,720.4,4.821
72,les Roquetes,Nou Barris,920.0,869.4,1.885
73,les Tres Torres,Sarrià-Sant Gervasi,702.0,708.5,5.689
74,el Poble Sec - Parc Montjuïc,Sants-Montjuïc,NaN,883.9,3.936
75,la Marina del Prat Vermell - Zona Franca,Sants-Montjuïc,NaN,1139.9,3.760

In [11]:
# Adding datasets that have Nbh and Dist (df_merged2) with dataset that has only Dist

df_merged3 = pd.merge(df_merged2, crime, how="left", on="Dist")
df_merged3

,Nbh,Dist,num_immi,mort_rate,rent_price,num_crimes
0,Baró de Viver,Sant Andreu,92.0,1067.6,2.830,10657.0
1,Can Baró,Horta-Guinardó,473.0,861.0,2.859,7871.0
2,Can Peguera,Nou Barris,57.0,968.0,2.330,8627.0
3,Canyelles,Nou Barris,140.0,804.9,2.330,8627.0
4,Ciutat Meridiana,Nou Barris,838.0,793.9,1.498,8627.0
...,...,...,...,...,...,...
71,les Corts,Les Corts,2276.0,720.4,4.821,7444.0
72,les Roquetes,Nou Barris,920.0,869.4,1.885,8627.0
73,les Tres Torres,Sarrià-Sant Gervasi,702.0,708.5,5.689,9252.0
74,el Poble Sec - Parc Montjuïc,Sants-Montjuïc,NaN,883.9,3.936,20219.0
75,la Marina del Prat Vermell - Zona Franca,Sants-Montjuïc,NaN,1139.9,3.760,20219.0

In [12]:
# Merging all datasets (df_3 already contains df_1 and df_2)

df = pd.merge(df_merged1, df_merged3, how="left", on="Nbh")
df.head()

,Nbh,Bars,Children_places,Cinemas_Theatres,Schools,Pre-Schools,Hospitals,Libraries_Theatres,Park_Gardens,Sport_Centers,Population,Net_density(hab/ha),avg_occupation,Dist,num_immi,mort_rate,rent_price,num_crimes
0,Horta,4.0,9.0,3.0,11.0,7.0,3.0,5.0,3.0,2.0,26715.0,422.0,2.5,Horta-Guinardó,1127.0,805.5,2.970,7871.0
1,Navas,2.0,3.0,NaN,6.0,3.0,NaN,NaN,NaN,NaN,22129.0,984.0,2.5,Sant Andreu,988.0,696.0,3.029,10657.0
2,Pedralbes,1.0,7.0,NaN,8.0,41.0,NaN,10.0,9.0,1.0,12076.0,147.0,2.9,Les Corts,764.0,661.6,6.340,7444.0
3,Sant Andreu,3.0,22.0,5.0,22.0,17.0,5.0,2.0,5.0,3.0,57183.0,746.0,2.4,Sant Andreu,1965.0,763.0,3.210,10657.0
4,Sant Antoni,9.0,8.0,4.0,11.0,11.0,1.0,5.0,7.0,1.0,38345.0,928.0,2.3,Eixample,2490.0,737.3,4.591,46210.0

In [13]:
# Renaming columns

df.columns = ['nbh', 'bars', 'children_places', 'cinemas_theatres', 'schools',
       'pre-schools', 'hospitals', 'libraries_theatres', 'park_gardens',
       'sport_centers', 'population', 'net_density(hab/ha)', 'avg_occupation',
       'dist', 'num_immi', 'mort_rate', 'rent_price', 'num_crimes']

## Basic analysis

In [14]:
df.head()

,nbh,bars,children_places,cinemas_theatres,schools,pre-schools,hospitals,libraries_theatres,park_gardens,sport_centers,population,net_density(hab/ha),avg_occupation,dist,num_immi,mort_rate,rent_price,num_crimes
0,Horta,4.0,9.0,3.0,11.0,7.0,3.0,5.0,3.0,2.0,26715.0,422.0,2.5,Horta-Guinardó,1127.0,805.5,2.970,7871.0
1,Navas,2.0,3.0,NaN,6.0,3.0,NaN,NaN,NaN,NaN,22129.0,984.0,2.5,Sant Andreu,988.0,696.0,3.029,10657.0
2,Pedralbes,1.0,7.0,NaN,8.0,41.0,NaN,10.0,9.0,1.0,12076.0,147.0,2.9,Les Corts,764.0,661.6,6.340,7444.0
3,Sant Andreu,3.0,22.0,5.0,22.0,17.0,5.0,2.0,5.0,3.0,57183.0,746.0,2.4,Sant Andreu,1965.0,763.0,3.210,10657.0
4,Sant Antoni,9.0,8.0,4.0,11.0,11.0,1.0,5.0,7.0,1.0,38345.0,928.0,2.3,Eixample,2490.0,737.3,4.591,46210.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   nbh                  75 non-null     object
 1   bars                 30 non-null     float64
 2   children_places      72 non-null     float64
 3   cinemas_theatres     39 non-null     float64
 4   schools              71 non-null     float64
 5   pre-schools          71 non-null     float64
 6   hospitals            53 non-null     float64
 7   libraries_theatres   55 non-null     float64
 8   park_gardens         63 non-null     float64
 9   sport_centers        48 non-null     float64
 10  population           73 non-null     float64
 11  net_density(hab/ha)  73 non-null     float64
 12  avg_occupation       73 non-null     float64
 13  dist                 73 non-null     object
 14  num_immi             73 non-null     float64
 15  mort_rate            71 non-null     float64
 16  rent_price           71 non-null     float64
 17  num_crimes           73 non-null     float64
dtypes: float64(16), object(2)
memory usage: 11.1+ KB

In [16]:
df.describe()

,bars,children_places,cinemas_theatres,schools,pre-schools,hospitals,libraries_theatres,park_gardens,sport_centers,population,net_density(hab/ha),avg_occupation,num_immi,mort_rate,rent_price,num_crimes
count,30.000000,72.000000,39.000000,71.000000,71.000000,53.000000,55.000000,63.000000,48.000000,73.000000,73.000000,73.000000,73.000000,71.000000,71.000000,73.000000
mean,11.966667,7.083333,4.076923,8.802817,10.352113,2.358491,4.763636,4.682540,1.812500,22202.863014,682.643836,2.519178,1333.219178,835.756338,3.600028,16848.986301
std,13.857609,4.369388,4.515381,5.866661,9.774747,1.710762,6.119077,4.234366,1.142156,14622.058303,290.236128,0.188309,1088.180582,141.164841,1.193082,12712.509278
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,610.000000,32.000000,2.200000,32.000000,641.500000,1.498000,7444.000000
25%,2.000000,4.000000,1.000000,4.000000,4.500000,1.000000,1.000000,2.000000,1.000000,10401.000000,499.000000,2.400000,603.000000,751.350000,2.766500,7871.000000
50%,5.000000,7.000000,3.000000,8.000000,8.000000,2.000000,2.000000,3.000000,1.000000,20487.000000,710.000000,2.500000,1073.000000,795.400000,3.296000,9252.000000
75%,12.750000,9.000000,4.500000,12.000000,13.000000,3.000000,5.000000,7.000000,2.000000,30584.000000,888.000000,2.500000,1791.000000,868.750000,4.365000,22417.000000
max,45.000000,22.000000,19.000000,25.000000,58.000000,8.000000,28.000000,24.000000,5.000000,58180.000000,1490.000000,3.000000,5400.000000,1479.200000,6.402000,46210.000000

In [17]:
df.corr()

,bars,children_places,cinemas_theatres,schools,pre-schools,hospitals,libraries_theatres,park_gardens,sport_centers,population,net_density(hab/ha),avg_occupation,num_immi,mort_rate,rent_price,num_crimes
bars,1.000000,-0.102707,0.709313,0.193809,0.171637,0.057727,0.771140,0.055703,0.180134,0.259253,0.052216,-0.167796,0.708781,0.506183,0.261483,0.520150
children_places,-0.102707,1.000000,-0.032304,0.560562,0.269314,0.214586,0.008574,0.433556,0.328197,0.600762,0.217517,-0.033285,0.393416,-0.309516,-0.018694,0.106860
cinemas_theatres,0.709313,-0.032304,1.000000,0.318014,0.303047,-0.054959,0.633089,0.276051,0.321942,0.404353,0.037718,-0.151583,0.663233,0.129834,0.194731,0.236951
schools,0.193809,0.560562,0.318014,1.000000,0.533480,0.452514,0.259619,0.528749,0.491636,0.809047,0.100823,-0.245823,0.603175,-0.344282,0.315475,0.140247
pre-schools,0.171637,0.269314,0.303047,0.533480,1.000000,0.385839,0.571432,0.545387,0.079800,0.403899,-0.065525,-0.010794,0.407366,-0.287845,0.517587,0.163265
hospitals,0.057727,0.214586,-0.054959,0.452514,0.385839,1.000000,0.037207,0.262427,0.202860,0.306432,-0.385390,0.070037,0.166799,-0.088532,0.374856,-0.145565
libraries_theatres,0.771140,0.008574,0.633089,0.259619,0.571432,0.037207,1.000000,0.397716,0.003136,0.213359,-0.066193,-0.043643,0.569822,0.145671,0.394171,0.530310
park_gardens,0.055703,0.433556,0.276051,0.528749,0.545387,0.262427,0.397716,1.000000,0.391060,0.566760,-0.037354,0.141457,0.495059,-0.328160,0.429743,0.241821
sport_centers,0.180134,0.328197,0.321942,0.491636,0.079800,0.202860,0.003136,0.391060,1.000000,0.378546,0.062624,-0.241096,0.266286,-0.003124,0.154026,-0.056487
population,0.259253,0.600762,0.404353,0.809047,0.403899,0.306432,0.213359,0.566760,0.378546,1.000000,0.398740,-0.300605,0.869310,-0.405142,0.331823,0.426884
net_density(hab/ha),0.052216,0.217517,0.037718,0.100823,-0.065525,-0.385390,-0.066193,-0.037354,0.062624,0.398740,1.000000,-0.357094,0.360960,-0.304675,-0.239659,0.301385
avg_occupation,-0.167796,-0.033285,-0.151583,-0.245823,-0.010794,0.070037,-0.043643,0.141457,-0.241096,-0.300605,-0.357094,1.000000,-0.253046,0.154147,-0.017004,-0.223715
num_immi,0.708781,0.393416,0.663233,0.603175,0.407366,0.166799,0.569822,0.495059,0.266286,0.869310,0.360960,-0.253046,1.000000,-0.180493,0.409336,0.678115
mort_rate,0.506183,-0.309516,0.129834,-0.344282,-0.287845,-0.088532,0.145671,-0.328160,-0.003124,-0.405142,-0.304675,0.154147,-0.180493,1.000000,-0.145057,0.047283
rent_price,0.261483,-0.018694,0.194731,0.315475,0.517587,0.374856,0.394171,0.429743,0.154026,0.331823,-0.239659,-0.017004,0.409336,-0.145057,1.000000,0.424728
num_crimes,0.520150,0.106860,0.236951,0.140247,0.163265,-0.145565,0.530310,0.241821,-0.056487,0.426884,0.301385,-0.223715,0.678115,0.047283,0.424728,1.000000

In [20]:
df.mean()

bars                      11.966667
children_places            7.083333
cinemas_theatres           4.076923
schools                    8.802817
pre-schools               10.352113
hospitals                  2.358491
libraries_theatres         4.763636
park_gardens               4.682540
sport_centers              1.812500
population             22202.863014
net_density(hab/ha)      682.643836
avg_occupation             2.519178
num_immi                1333.219178
mort_rate                835.756338
rent_price                 3.600028
num_crimes             16848.986301
dtype: float64

### Adding new columns

In [21]:
# Facilities per 10,000 (?) habitants

df["children_places_pop"] = df["children_places"]/df["population"]*1000
df["cinemas_theatres_pop"] = df["cinemas_theatres"]/df["population"]*1000
df["schools_pop"] = df["schools"]/df["population"]*1000
df["pre-schools_pop"] = df["pre-schools"]/df["population"]*1000
df["hospitals_pop"] = df["hospitals"]/df["population"]*1000
df["libraries_theatres_pop"] = df["libraries_theatres"]/df["population"]*1000
df["park_gardens_pop"] = df["park_gardens"]/df["population"]*1000
df["sport_centers_pop"] = df["sport_centers"]/df["population"]*1000
df["facilities_pop"] = (df["children_places_pop"] +
                       df["cinemas_theatres_pop"]+
                       df["schools_pop"]+
                       df["hospitals_pop"]+
                       df["libraries_theatres_pop"]+
                       df["park_gardens_pop"]+
                       df["sport_centers_pop"])/8

df

,nbh,bars,children_places,cinemas_theatres,schools,pre-schools,hospitals,libraries_theatres,park_gardens,sport_centers,...,num_crimes,children_places_pop,cinemas_theatres_pop,schools_pop,pre-schools_pop,hospitals_pop,libraries_theatres_pop,park_gardens_pop,sport_centers_pop,facilities_pop
0,Horta,4.0,9.0,3.0,11.0,7.0,3.0,5.0,3.0,2.0,...,7871.0,0.336889,0.112296,0.411754,0.262025,0.112296,0.187161,0.112296,0.074864,0.168445
1,Navas,2.0,3.0,NaN,6.0,3.0,NaN,NaN,NaN,NaN,...,10657.0,0.135569,NaN,0.271137,0.135569,NaN,NaN,NaN,NaN,NaN
2,Pedralbes,1.0,7.0,NaN,8.0,41.0,NaN,10.0,9.0,1.0,...,7444.0,0.579662,NaN,0.662471,3.395164,NaN,0.828089,0.745280,0.082809,NaN
3,Sant Andreu,3.0,22.0,5.0,22.0,17.0,5.0,2.0,5.0,3.0,...,10657.0,0.384730,0.087439,0.384730,0.297291,0.087439,0.034975,0.087439,0.052463,0.139902
4,Sant Antoni,9.0,8.0,4.0,11.0,11.0,1.0,5.0,7.0,1.0,...,46210.0,0.208632,0.104316,0.286869,0.286869,0.026079,0.130395,0.182553,0.026079,0.120615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,les Roquetes,NaN,6.0,NaN,4.0,2.0,1.0,1.0,2.0,NaN,...,8627.0,0.384862,NaN,0.256575,0.128287,0.064144,0.064144,0.128287,NaN,NaN
71,les Tres Torres,NaN,5.0,2.0,2.0,4.0,5.0,1.0,3.0,NaN,...,9252.0,0.299994,0.119998,0.119998,0.239995,0.299994,0.059999,0.179996,NaN,NaN
72,la Clota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,7871.0,NaN,NaN,NaN,NaN,NaN,NaN,3.278689,NaN,NaN
73,la Dreta de l'Eixample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46210.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,el Poble Sec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df[["num_crimes", "rent_price", "mort_rate"]].astype(float)

    num_crimes  rent_price  mort_rate
0       7871.0       2.970      805.5
1      10657.0       3.029      696.0
2       7444.0       6.340      661.6
3      10657.0       3.210      763.0
4      46210.0       4.591      737.3
..         ...         ...        ...
70      8627.0       1.885      869.4
71      9252.0       5.689      708.5
72      7871.0       2.920     1033.9
73     46210.0       6.332      897.2
74     20219.0         NaN        NaN

[75 rows x 3 columns]

In [23]:
df.to_csv("../datasets/Data_filtered/complete_dataset.csv")